.vscode/
.idea/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.swp
.DS_Store
.cache/
pypi_upload.sh
notes/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Sphix
_build/
